## Read CSVs

In [1]:
!ls

EDA.ipynb              t_change_report.html   t_people_report.html
LICENSE                t_file_report.html     t_revision_report.html
csv_files              t_history_report.html

In [2]:
import pandas as pd

In [3]:
t_file = pd.read_csv("csv_files/t_file.csv")
t_people = pd.read_csv("csv_files/t_people.csv")
t_change = pd.read_csv("csv_files/t_change.csv")
t_history = pd.read_csv("csv_files/t_history.csv")
t_revision = pd.read_csv("csv_files/t_revision.csv")

In [4]:
print("shape of t_file : {}".format(t_file.shape))
print("shape of t_people : {}".format(t_people.shape))
print("shape of t_change : {}".format(t_change.shape))
print("shape of t_history : {}".format(t_history.shape))
print("shape of t_revision : {}".format(t_revision.shape))

shape of t_file : (1490072, 5)
shape of t_people : (2534, 5)
shape of t_change : (57376, 12)
shape of t_history : (435814, 7)
shape of t_revision : (106957, 15)

## Dtypes setup

In [5]:
print('t_file DTYPES\n' , t_file.dtypes, '\n')
print('t_people DTYPES\n' , t_people.dtypes, '\n')
print('t_change DTYPES\n' , t_change.dtypes, '\n')
print('t_history DTYPES\n' , t_history.dtypes, '\n')
print('t_revision DTYPES\n' , t_revision.dtypes, '\n')

t_file DTYPES
 id                  int64
f_fileName         object
f_linesInserted     int64
f_linesDeleted      int64
f_revisionId        int64
dtype: object

t_people DTYPES
 id              int64
p_accountId     int64
p_name         object
p_email        object
p_userName     object
dtype: object

t_change DTYPES
 id                      int64
ch_id                  object
ch_changeId            object
ch_changeIdNum          int64
ch_project             object
ch_branch              object
ch_topic               object
ch_authorAccountId      int64
ch_createdTime         object
ch_updatedTime         object
ch_status              object
ch_mergeable          float64
dtype: object

t_history DTYPES
 id                        int64
hist_id                  object
hist_message             object
hist_authorAccountId    float64
hist_createdTime         object
hist_patchSetNum          int64
hist_changeId             int64
dtype: object

t_revision DTYPES
 id                         int64
rev_id                    object
rev_subject               object
rev_message               object
rev_authorUsername        object
rev_createdTime           object
rev_committerUsername     object
rev_committedTime         object
rev_ref                   object
rev_git                  float64
rev_repo                 float64
rev_http                  object
rev_ssh                  float64
rev_patchSetNum            int64
rev_changeId               int64
dtype: object

In [6]:
print('t_file Columns\n' , t_file.columns.values, '\n')
print('t_people Columns\n' , t_people.columns.values, '\n')
print('t_change Columns\n' , t_change.columns.values, '\n')
print('t_history Columns\n' , t_history.columns.values, '\n')
print('t_revision Columns\n' , t_revision.columns.values, '\n')

t_file Columns
 ['id' 'f_fileName' 'f_linesInserted' 'f_linesDeleted' 'f_revisionId']

t_people Columns
 ['id' 'p_accountId' 'p_name' 'p_email' 'p_userName']

t_change Columns
 ['id' 'ch_id' 'ch_changeId' 'ch_changeIdNum' 'ch_project' 'ch_branch'
 'ch_topic' 'ch_authorAccountId' 'ch_createdTime' 'ch_updatedTime'
 'ch_status' 'ch_mergeable']

t_history Columns
 ['id' 'hist_id' 'hist_message' 'hist_authorAccountId' 'hist_createdTime'
 'hist_patchSetNum' 'hist_changeId']

t_revision Columns
 ['id' 'rev_id' 'rev_subject' 'rev_message' 'rev_authorUsername'
 'rev_createdTime' 'rev_committerUsername' 'rev_committedTime' 'rev_ref'
 'rev_git' 'rev_repo' 'rev_http' 'rev_ssh' 'rev_patchSetNum'
 'rev_changeId']

In [7]:
t_change.ch_createdTime = pd.to_datetime(t_change.ch_createdTime)
t_change.ch_updatedTime = pd.to_datetime(t_change.ch_updatedTime)

## Import CSV into local in-memory sqlite server

In [8]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)
engine.connect

In [ ]:
t_file.to_sql("t_file", con= engine, if_exists='replace', index=False)
t_people.to_sql("t_people", con= engine, if_exists='replace', index=False)
t_change.to_sql("t_change", con= engine, if_exists='replace', index=False)
t_history.to_sql("t_history", con= engine, if_exists='replace', index=False)
t_revision.to_sql("t_revision", con= engine, if_exists='replace', index=False)

#### tables in the database

In [ ]:
engine.table_names()

#### Schema

In [ ]:
from IPython.display import Image
Image(url='https://image.slidesharecdn.com/msr16yang-160515235151/95/msr-2016-data-showcase-mining-code-review-repositories-11-638.jpg?cb=1463356751')

#### Query syntax

In [ ]:
pd.read_sql(
"""
SELECT * FROM t_revision 
;
""", con= engine).head(2)

In [ ]:
pd.read_sql(
"""
Select * from (SELECT hist_message , count(hist_message) as count_message
FROM t_history 
group by 1
ORDER BY 2 DESC) t 
WHERE count_message > 500
;

"""
            , con = engine)

# from the table, it is clear that the hist_message consists of these keywords:
    # successfully merged
    # Abandoned
    # patch set

In [ ]:
pd.read_sql("""SELECT COUNT(*), ch_status FROM t_change GROUP BY ch_status;

""", con = engine)

In [ ]:
t_change.head()

In [ ]:
pd.read_sql("""

SELECT * FROM t_change order by ch_project, ch_updatedTime ;

""", con = engine).head(5)

In [ ]:
pd.read_sql("""

SELECT (julianday(ch_updatedTime) - julianday(ch_createdTime)) * 24 FROM t_change;

""", con = engine).head(5)

In [ ]:
t_change.ch_updatedTime - t_change.ch_createdTime

## What percentage of code reviews gets merged?

In [ ]:
pd.read_sql("""
SELECT 
ch_project,
count(ch_changeId) as total_changes, 
sum(case when ch_status = 'MERGED' then 1 else 0 end) as Total_Merged
from t_change 
group by 1
order by 2 desc;

""", con = engine)

In [ ]:
merged_ = pd.read_sql("""
SELECT 
ch_project,
count(*) as total_changes, 
sum(case when ch_status = 'MERGED' then 1 else 0 end) as Total_Merged,
sum(case when ch_status = 'ABANDONED' then 1 else 0 end) as Total_abandoned
from (SELECT distinct 
ch_project
, ch_branch
, ch_topic
, ch_authorAccountId
, ch_createdTime
, ch_updatedTime
, ch_status

FROM t_change) 
group by 1;

""", con = engine)

In [ ]:
merged_['pct_merged'] = merged_['Total_Merged'] / merged_['total_changes'] * 100
merged_['pct_abandoned'] = merged_['Total_abandoned'] / merged_['total_changes'] * 100

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

merged_[merged_['total_changes'] > 20].pct_merged.hist(bins = 50
                                                       , color = 'b'
                                                       , figsize = (5,3)
                                                       , legend = True)
plt.show()

merged_[merged_['total_changes'] > 20].pct_abandoned.hist(bins = 50
                                                          , color = 'r'
                                                          , figsize = (5,3)
                                                          , legend = True)
plt.show()

In [ ]:
print("percent merged " + str(round(merged_[merged_['total_changes'] > 20].pct_merged.mean(), 2)) + "%")
print("percent abandoned " + str(round(merged_[merged_['total_changes'] > 20].pct_abandoned.mean(), 2)) + "%")

In [ ]:
# example project = midonet/midonet

pd.read_sql("""
SELECT distinct 
ch_project
, ch_branch
, ch_topic
, ch_authorAccountId
, ch_createdTime
, ch_updatedTime
, ch_status

FROM t_change 
WHERE ch_project = 'midonet/midonet'
ORDER BY ch_updatedTime
;

""", con = engine)